<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{guest/home::dynamic(~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <form method="post" th:action="@{/orders/purchase}" class="panel panel-primary">
        <div class="panel-heading">Đặt hàng</div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Tên</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                </tr>
                <tr th:each="p:${products}">
                    <td th:text="${p.id}" th:value="${p.id}" th:name="id"></td>
                    <td th:text="${p.name}" th:value="${p.name}" th:name="name"></td>
                    <td th:text="'đ '+${p.price}" th:value="${p.price}" th:name="price"></td>
                    <td th:text="${p.quantity}" th:value="${p.quantity}" th:name="quantity"> </td>
                    <td class="totalPrice" th:value="${p.price * p.quantity}" th:text="'đ '+${p.price * p.quantity}" th:name="totalPrice"></td>
                </tr>
            </table>
            <div class="row">
                <div class="form-group col-sm-6">
                    <div>Tên khách hàng</div>
                    <input type="text" name="customerName" class="form-control">
                </div>
                <div class="form-group col-sm-6">
                    <div>Ngày đặt</div>
                    <input th:value="${#dates.format(dateNow,'dd/MM/yyyy')}" name="date" disabled type="text" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <div>Địa chỉ nhận hàng</div>
                    <textarea class="form-control" name="address"></textarea>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
            <input type="submit" class="btn btn-success" value="Đặt hàng">
        </div>
    </form>
</main>
</body>
</html>