<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{guest/home::dynamic(~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="poly-item-detail">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <img th:src="${p.image}">
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-body">
                <ul>
                    <li th:text="'Tên đồng hồ: '+${p.name}"></li>
                    <li>Giá: [[${p.price}]] <u>VND</u></li>
                    <li th:text="'Tên hãng: '+${p.brand.name}"></li>
                    <li th:text="'Loại đồng hồ: '+${p.category.name}"></li>
                    <li th:text="'Loại dây: '+${p.strap.name}"></li>
                    <li th:text="'Loại máy: '+${p.movement.name}"></li>
                </ul>
            </div>

            <div class="panel-footer text-right">
                <button class="btn btn-success">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                </button>
            </div>
        </div>
    </div>
</main>
</body>
</html>