<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{product-managed/index::dynamic1(~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a th:href="@{/manage-products/export-excel}" target="_blank" class="btn btn-success"><i class="glyphicon glyphicon-paste"></i> Xuất Excel tổng quát</a>
            <a th:href="@{/manage-products/export-excel}" target="_blank" class="btn btn-success"><i class="glyphicon glyphicon-paste"></i> Xuất Excel chi tiết</a>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Mã hoá đơn</th>
                    <th>Thời gian</th>
                    <th>Khách hàng</th>
                    <th>Phương thức thanh toán</th>
                    <th>Địa chỉ giao hàng</th>
                    <th>Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="o:${order}">
                    <td>[[${o.id}]]</td>
                    <td>[[${#dates.format(o.createDate,'dd/MM/yyyy HH:mm')}]]</td>
                    <td>null</td>
                    <td>[[${o.paymentMethod}]]</td>
                    <td>[[${o.deliveryAddress}]]</td>
                    <td class="col-sm-1">
                        <a onclick="if (confirm('Bạn có chắc muốn xoá hoá đơn này ?'))alert('Xoá thành công'); else return false"
                           th:href="@{/manage-order/delete(id=${o.id})}" class="delete" data-toggle="modal"><i
                                class="glyphicon glyphicon-trash" style="color: red"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a th:if="${order.getNumber()>0}" th:href="@{/manage-order(page=${order.getNumber()})}"
                       class="btn btn-primary">Previous</a>
                    <a th:unless="${order.getNumber()>0}"
                       th:href="@{/manage-order(page=${order.getNumber()})}"
                       class="btn btn-danger disabled">Previous</a>

                    <span th:text="${order.getNumber()+1} +'/'+ ${order.getTotalPages()}"></span>


                    <a th:if="${order.getNumber()<order.getTotalPages()-1}"
                       th:href="@{/manage-order(page=${order.getNumber()+2})}"
                       class="btn btn-primary">Next</a>
                    <a th:unless="${order.getNumber()<order.getTotalPages()-1}"
                       th:href="@{/manage-order(page=${order.getNumber()+2})}"
                       class="btn btn-danger disabled">Next</a>
                </div>
            </div>

        </div>
    </div>
</main>
</body>
</html>