<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{product-managed/index::dynamic1(~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <form method="post" th:action="@{/manage-products/add}" enctype="multipart/form-data" class="panel panel-primary">
        <div class="panel-heading">Thêm mới sản phẩm</div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-sm-6">
                    <div>Nhập tên rút gọn</div>
                    <input type="text" name="shortName" class="form-control">
                </div>
                <div class="form-group col-sm-6">
                    <div>Nhập tên đầy đủ</div>
                    <input type="text" name="name" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <div>Chọn ảnh</div>
                    <input type="file" name="image" class="form-control">
                </div>
                <div class="form-group col-sm-6">
                    <div>Nhập giá</div>
                    <input type="text" name="price" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <div>Chọn hãng</div>
                    <select name="brand" class="form-control">
                        <option th:value="${b.id}" th:each="b:${brand}">[[${b.name}]]</option>
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <div>Chọn danh mục</div>
                    <select name="category" class="form-control">
                        <option th:value="${c.id}" th:each="c:${category}">[[${c.name}]]</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <div>Chọn loại máy</div>
                    <select name="movement" class="form-control">
                        <option th:value="${m.id}" th:each="m:${movement}">[[${m.name}]]</option>
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <div>Chọn loại dây</div>
                    <select name="strap" class="form-control">
                        <option th:value="${s.id}" th:each="s:${strap}">[[${s.name}]]</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
            <input type="submit" class="btn btn-success" value="Thêm mới">
        </div>
    </form>
</main>
</body>
</html>